.tippy-box[data-theme~='New-style'] {
    width: 300px;
  }

.box {
    width: 600px;
    padding: 10px;
}

p {
    padding: 0;
    margin: 0;
}

.daysWeeks {
    margin-right: 15px;
    font-weight: 600;
}

.frends__form, .night__form {
    margin-top: 0px;
    margin-bottom: 10px;
}

.days__form, .hours__form{
    margin-top: 0px;
    margin-bottom: 20px;
}

.results {
    background-color: rgb(241, 234, 234);
}

.submit__form {
    margin: 20px;
    background-color: rgb(167, 199, 240);
    font-weight: 600;
    font-size: 20px;
}

.buttonApproval {
    margin: 20px;
    background-color: rgb(194, 250, 242);
    font-weight: 600;
    font-size: 20px;
    margin-left: 0;
}

.buttonCancel {
    margin: 20px;
    background-color: rgb(255, 245, 210);
    font-weight: 600;
    font-size: 20px;
    margin-left: 40px;
}
